.git
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
*~
*.bin
*.pyc
key.txt
system.conf

examples/private/
tmp/
external/
.idea/

etc/iotempower.conf
etc/yaota8266-keys/
.local

.directory
.vscode
build

.pio
.pioenvs
.piolibdeps
