# Configuration options of iotempower
# This is specific to this hardware platform and iotempower
# gateway installation,
# it can support several system configurations


#### Accesspoint configuration ####
# potential devices for wifi sharing in order of preference
# (if not defined, will be all devices starting with wl)
#IOTEMPOWER_AP_DEVICES="wlan1 wlan0"

# Name of accesspoint to create
IOTEMPOWER_AP_NAME="iotempire"

# if set to yes, add unique ID from MAC-address as extension to name
# this is good in classes where you teach iot and have multiple gateways
IOTEMPOWER_AP_ADDID=no

# Its wifi password to use -> TODO: move to secret file
IOTEMPOWER_AP_PASSWORD="iotempire"

# Channel to run on (set to actual number)
# if set to random, will pick one of 2 3 4 5 7 8 9 10
# IOTEMPOWER_AP_CHANNEL=9
IOTEMPOWER_AP_CHANNEL=random

# Hide the essid when this is yes
# Attention, this has no effect on lots of chipsets
# it does works with the built-in wifi of the reaspbeery pi.
IOTEMPOWER_AP_HIDDEN=no

# An ethernet-interface to bridge the network to, when creating accesspoint
#IOTEMPOWER_AP_BRIDGE=eth0

# IP to pick
IOTEMPOWER_AP_IP="192.168.12.1"

# hostname to export
# if this is empty, it uses the actual hostname
# this name is associated with the IP given in IOTEMPOWER_AP_IP
IOTEMPOWER_AP_HOSTNAME="iotgateway"

#### END - Accesspoint configuration ####


#### MQTT configuration ####
# Connect data for local MQTT broker
# if not defined, the same as IOTEMPOWER_AP_IP
#IOTEMPOWER_MQTT_HOST="mosquitto-host"

# Enable TLS for MQTT 
#IOTEMPOWER_MQTT_USE_TLS=1

# Set the MQTT server and CA certificate folder
#IOTEMPOWER_MQTT_CERT_FOLDER=""

# Username and password for devices to use mqtt
# If user not defined, do not use user authentication
# TODO: auto create a user with this credentials
# TODO: move to secret file
#IOTEMPOWER_MQTT_USER="homeassistant"
#IOTEMPOWER_MQTT_PW="secretpw"

# Data to configure an mqtt bridge
#IOTEMPOWER_MQTT_BRIDGE_HOST="ulno.net"
#IOTEMPOWER_MQTT_BRIDGE_PORT="8883"
#IOTEMPOWER_MQTT_BRIDGE_CERTPATH="/etc/ssl/certs"
#IOTEMPOWER_MQTT_BRIDGE_TOPIC="bridged"
#IOTEMPOWER_MQTT_BRIDGE_USER="bridgeuser"
#IOTEMPOWER_MQTT_BRIDGE_PW="secretpw"
#### END MQTT configuration ####
